#gallery{
    padding: 0;
    margin: 0 auto;
    width: 1360px;
    display: flex;
    
}
.gallery_item{
    list-style: none;
    display: flex;
    align-items: center;
    margin: 10px;
}

.gallery_item-image{
    width: 100%;
    display: block;
}


#validation-input {
    border: 3px solid #bdbdbd;
  }
  
  #validation-input.valid {
    border-color: #4caf50;
  }
  
  #validation-input.invalid {
    border-color: #f44336;
  }